* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Chau Philomene One;
    color: white;
    background-size: cover;
    background-color: #1B123A;
}

header {
    background-color: #0BA8BC;
    padding: 0.125rem 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 4.375rem;
}

nav ul li a {
    text-decoration: none;
    background-color: #D633BA;
    padding: 0.625rem 1.875rem;
    border-radius: 1.5625rem;
    color: white;
    font-weight: bold;
    transition: background 0.3s ease;
    font-family: Chau Philomene One;
    font-weight: 100;
    font-size: 1.3125rem;
}

nav ul li a:hover {
    background-color: #b52698;
}

nav ul .perfil {
  margin-left: auto; /* empurra o ícone para a direita */
}

nav ul .perfil img {
  width: 32px;     /* ajuste o tamanho do ícone */
  height: 32px;
  cursor: pointer;
}

