* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Chau Philomene One', sans-serif;
  background: #1B123A;
  background-size: cover;
  color: #fff;
}

header {
  background-color: #0BA8BC;
  padding: 0.3rem 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

nav ul li a {
  text-decoration: none;
  background-color: #D633BA;
  padding: 0.6rem 1.8rem;
  border-radius: 1.5rem;
  color: white;
  font-weight: bold;
  transition: background 0.3s ease;
  font-size: 1.3rem;
  font-weight: 100;
}

nav ul li a:hover {
  background-color: #b52698;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.5rem;
}

h1 {
  font-size: 4rem;
}

.podio {
  display: flex;
  justify-content: center;
  gap: 4.5rem;
  font-size: 2rem;
}

.primeiro {
  font-size: 3rem;
  background: #0BA8BC;
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.segundo {
  font-size: 2.5rem;
  background: #0BA8BC;
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terceiro {
  font-size: 2.5rem;
  background: #0BA8BC;
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posicao {
  color: #ffb703;
}

.restoRanking {
  padding: 1.5rem;
  font-size: 1.5rem;
}

.quarto {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background: #0BA8BC;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.quinto {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background: #0BA8BC;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.sexto {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background: #0BA8BC;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}