* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Chau Philomene One", sans-serif;
    font-family: "Roboto", sans-serif;
    color: white;
    background: linear-gradient(-45deg, #38036A, #0C3E9F);
}

#form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    padding: 60px;
    width: min-content;
    align-items: center;
    background: linear-gradient(-45deg, #FF00CC, #0BA8BC);
}

.title {
    font-size: 1.8rem;
    margin-bottom: 10%;
    color: white;
    font-family: "Roboto", sans-serif;
}

.input {
    background: #fff;
    min-width: 288px;
    border-radius: 1rem;
    border: 2px #BCBEC0 solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}


.input input {
    background: transparent;
    width: 80%;
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    transform: translateY(-10%);
    color: black;
    font-size: 11pt;
}

#btn {
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

#btn button {
    font-family: "Chau Philomene One", sans-serif;
    background: #003465;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2rem;
    color: #ffff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

header {
    background-color: #0BA8BC;
    padding: 0.125rem 0;
    display: flex;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 4.375rem;
}

nav ul li a {
    text-decoration: none;
    background-color: #D633BA;
    padding: 0.625rem 1.875rem;
    border-radius: 1.5625rem;
    color: white;
    font-weight: bold;
    transition: background 0.3s ease;
    font-family: Chau Philomene One;
    font-weight: 100;
    font-size: 1.3125rem;
}

nav ul li a:hover {
    background-color: #b52698;
}

.logo-2 {
    margin-top: -38px;
    float: right;
}